{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Payments",
    "description": "The Payments API enables payment of bills generated by different banks and financial institutions."
  },
  "servers": [
    {
      "url": "https://writechoice-sandbox.api/v1",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/payment": {
      "post": {
        "summary": "Create payments",
        "description": "Use this endpoint to make payments.\n\n> #### Note\n>For more information, refer to [Exploring a Payment API](../docs/payments.md)",
        "operationId": "post-payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "object",
                    "description": "The payment amount.",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "Currency in this payment is made."
                      },
                      "value": {
                        "type": "string",
                        "description": "Value of the payment."
                      }
                    }
                  },
                  "checkout_session": {
                    "type": "string",
                    "description": "Unique identifier of the checkout session associated with the payment."
                  },
                  "customer": {
                    "type": "object",
                    "description": "An object containing details of the customer.",
                    "properties": {
                      "billing_address": {
                        "type": "object",
                        "description": "An object containing details of the billing address.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "Use it for the street address."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "Use it for street details."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city associated with the address."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country of the address."
                          },
                          "state": {
                            "type": "string",
                            "description": "The state or region within the country, if applicable."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The postal or ZIP code associated with the address, used for precise location identification."
                          }
                        }
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Customer's date of birth."
                      },
                      "document": {
                        "type": "object",
                        "description": "An object containing details of the document.",
                        "properties": {
                          "document_number": {
                            "type": "string",
                            "description": "Number of the document."
                          },
                          "document_type": {
                            "type": "string",
                            "description": "Document type."
                          }
                        }
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the customer."
                      },
                      "external_id": {
                        "type": "string",
                        "description": "External identifier for the customer."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Customer's first name."
                      },
                      "gender": {
                        "type": "string",
                        "description": "Customer's gender."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Customer's last name."
                      },
                      "nationality": {
                        "type": "string",
                        "description": "Customer's nationality."
                      },
                      "phone": {
                        "type": "object",
                        "description": "Telephone number, including country code and number.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "That represents the international dialing code or country code associated with a phone number."
                          },
                          "number": {
                            "type": "string",
                            "description": "The actual phone number, including the local area code and the individual subscriber number."
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "description": "An object containing details of the shipping address, including address lines, city, country, state and postal code.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "Use it for the street address."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "Use it for the street details."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city associated with the address."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country of the address."
                          },
                          "state": {
                            "type": "string",
                            "description": "The state or region within the country, if applicable."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The postal or ZIP code associated with the address, used for precise location identification."
                          }
                        }
                      }
                    }
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Unique identifier of the order associated with the payment."
                  },
                  "payment_description": {
                    "type": "string",
                    "description": "Description or additional information about the payment."
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "An object containing details of the payment method.",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Unique code associated with the payment method."
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of payment processed."
                      }
                    }
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "amount": {
                      "currency": "string",
                      "value": "float"
                    },
                    "checkout_session": "string",
                    "customer": {
                      "billing_address": {
                        "address_line_1": "string",
                        "address_line_2": "string",
                        "city": "string",
                        "country": "string",
                        "state": "string",
                        "zip_code": "string"
                      },
                      "date_of_birth": "string",
                      "document": {
                        "document_number": "string",
                        "document_type": "string"
                      },
                      "email": "string",
                      "external_id": "string",
                      "first_name": "string",
                      "gender": "string",
                      "last_name": "string",
                      "nationality": "string",
                      "phone": {
                        "country_code": "string",
                        "number": "string"
                      },
                      "shipping_address": {
                        "address_line_1": "string",
                        "address_line_2": "string",
                        "city": "string",
                        "country": "string",
                        "state": "string",
                        "zip_code": "string"
                      }
                    },
                    "order_id": "string",
                    "payment_description": "string",
                    "payment_method": {
                      "token": "string",
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "amount": {
                      "currency": "USD",
                      "value": "100.00"
                    },
                    "checkout_session": "CHK-12345",
                    "customer": {
                      "billing_address": {
                        "address_line_1": "123 Main Street",
                        "address_line_2": "Apt 4B",
                        "city": "New York",
                        "country": "USA",
                        "state": "NY",
                        "zip_code": "10001"
                      },
                      "date_of_birth": "1990-05-15",
                      "document": {
                        "document_number": "A1234567",
                        "document_type": "Passport"
                      },
                      "email": "customer@example.com",
                      "external_id": "CUST-789",
                      "first_name": "John",
                      "gender": "Male",
                      "last_name": "Doe",
                      "nationality": "USA",
                      "phone": {
                        "country_code": "+1",
                        "number": "555-123-4567"
                      },
                      "shipping_address": {
                        "address_line_1": "456 Shipping Way",
                        "address_line_2": "Suite 7C",
                        "city": "Los Angeles",
                        "country": "USA",
                        "state": "CA",
                        "zip_code": "90001"
                      }
                    },
                    "order_id": "ORDER-123456",
                    "payment_description": "Online Purchase - Electronics",
                    "payment_method": {
                      "token": "TOKEN-98765",
                      "type": "Credit Card"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier that represents a specific payment or transaction within the system."
                    },
                    "status": {
                      "type": "string",
                      "description": "Indicating the current status of the payment or transaction. This field provides information about whether the payment is pending, completed, canceled, or in any other relevant state."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "id": "UUID",
                      "status": "CREATED"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "PAY-123456",
                      "status": "Pending"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://writechoice-sandbox.api/v1",
            "description": "Production environment"
          }
        ]
      }
    },
    "/payment/{report_id}": {
      "get": {
        "summary": "Consult your payments reports",
        "description": "Use this endpoint to get a report of your payments by `report_id`.\n\n> #### Note\n>For more information, refer to [Exploring a Payment API](../docs/payments.md)",
        "operationId": "get-payment-:report_id",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Identification code of the payment report",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier that represents a specific payment or transaction within the system. "
                    },
                    "type": {
                      "type": "string",
                      "description": "The type or category of the payment, such as `purchase`, `subscription`, or `refund`."
                    },
                    "start_date": {
                      "type": "string",
                      "description": "The date when the payment or transaction was initiated or started.\r\n"
                    },
                    "end_date": {
                      "type": "string",
                      "description": "The date when the payment or transaction is scheduled to end or was completed."
                    },
                    "merchant_reference_id": {
                      "type": "string",
                      "description": " Unique reference identifier provided by the merchant or seller associated with the payment."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The date and time when the payment record was originally created or added to the system."
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The date and time when the payment record was last updated or modified."
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "The date and time when the payment or transaction is set to expire or become invalid."
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the payment or transaction. This field provides information about whether the payment is pending, completed, canceled, or in any other relevant state."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "id": "UUID",
                      "type": "TRANSACTIONS",
                      "start_date": "timestamp",
                      "end_date": "timestamp",
                      "merchant_reference_id": "string",
                      "created_at": "timestamp",
                      "updated_at": "timestamp",
                      "expires_at": "timestamp",
                      "status": "SUCCEEDED"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "string",
                      "type": "string",
                      "start_date": "string",
                      "end_date": "string",
                      "merchant_reference_id": "string",
                      "created_at": "2023-06-06T00:05:11.733Z",
                      "updated_at": "2023-10-26T14:15:00",
                      "expires_at": "2023-11-20",
                      "status": "Pending"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://writechoice-sandbox.api/v1",
            "description": "Production environment"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "description": "An API key is a token that you provide when making API calls. Include the token in a header parameter called",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "x-internal": false
}
